[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=metabar
Comment=A konqueror navigation panel plugin  called Metabar
Comment[bg]=Приставка за навигация в браузъра Konqueror
Comment[ca]=Un connector del plafó de navegació del konqueror anomenat Metabar
Comment[cs]=Navigační panel pro Konqueror - Metabar
Comment[da]=Et navigationspanel-plugin for konqueror der hedder Metabar
Comment[de]=Metabar - Ein Modul für den Navigationsbereich von Konqueror
Comment[el]=Ένα πρόσθετο πίνακα πλοήγησης του konqueror που ονομάζεται γραμμή μεταδεδομένων
Comment[en_GB]=A Konqueror navigation panel plugin called Metabar
Comment[es]=Una extensión del panel de navegación de konqueror llamada metabarraComment=Una extensión del panel de navegación de konqueror llamada metabarraComment=Una extensión del panel de navegación de konqueror llamada metabarra
Comment[et]=Konquerori navigeerimispaneeli plugin Metabar
Comment[eu]=Metabar izeneko Konqueror-en arakatze-panelaren plugina
Comment[fa]=یک وصله تابلوی ناوش konqueror که فرا میله نام دارد
Comment[fi]=Konquerorin Metabar-niminen selauspaneelin liitännäinen
Comment[fr]=Un module pour le panneau de navigation de Konqueror appelé Metabar
Comment[hu]=Metabar, egy navigációs bővítőmodul a Konqueror böngészőhöz
Comment[is]=Konqueror leiðarstýrispjald íforrit sem kallast Metabar
Comment[it]=Plugin di navigazione di konqueror chiamato Metabar
Comment[ja]=Konqueror メタバー ナビゲーションパネルプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​បន្ទះ​​រុករក​​របស់ konqueror  ​បាន​ហៅ​​របារ​មេតា
Comment[lt]=Konqueror navigavimo pulto priedas vadinamas Meta juosta
Comment[mk]=Приклучок за панел за навигација во konqueror наречен Metabar
Comment[nb]=Et Konqueror programtillegg for navigasjonspanel, kalt Metabar
Comment[nds]=En Sietpaneelmoduul för Konqueror, nöömt "Metabar"
Comment[nl]=Een plugin voor Konqueror's navigatiebalk, genaamd Metabalk
Comment[nn]=Eit programtillegg som gir Konqueror eit navigasjonpanel
Comment[pl]=Panel nawigacyjny Metabar dla Konquerora
Comment[pt]=Um 'plugin' de navegação do konqueror chamado Metabar
Comment[pt_BR]=Um plugin de navegação para o Konqueror chamado de Metabar
Comment[ru]=Панель сведений Konqueror
Comment[sk]=Modul navigačného panelu pre Konqueror nazývaný Metabar
Comment[sl]=Vstavek za Konqueror z navigacijskim pasom Metabar
Comment[sr]=Прикључак за навигациону таблу konqueror-а назван Метапалета
Comment[sr@Latn]=Priključak za navigacionu tablu konqueror-a nazvan Metapaleta
Comment[sv]=Ett sidopanelinsticksprogram för Konqueror kallad Metarad
Comment[uk]=Втулок навігаційної панелі для konqueror - Metabar
Comment[zh_CN]=称为 Metabar 的 Konqueror 导航面板插件
Comment[zh_TW]=叫做 Metabar 的 Konqueror 導覽面板外掛程式
Name=metabar
Name[de]=Metabar
Name[el]=Γραμμή μεταδεδομένων
Name[es]=metabarra
Name[et]=Metabar
Name[fa]=فرا میله
Name[fi]=metapalkki
Name[fr]=Metabar
Name[ga]=meiteabharra
Name[hu]=Metabar
Name[ja]=メタバー
Name[km]=របារ​មេតា
Name[lt]=Meta juosta
Name[nl]=metabalk
Name[pa]=ਮੈਟਾ-ਪੱਟੀ
Name[pl]=Metabar
Name[pt_BR]=MetaBar
Name[ru]=Сведения
Name[sk]=Metabar
Name[sl]=Metabar
Name[sr]=метапалета
Name[sr@Latn]=metapaleta
Name[sv]=Metarad
Name[zh_CN]=Metabar

Open=false
X-KDE-KonqSidebarModule=konqsidebar_metabar

