# Secret directories for files, testcases, and submissions
files/*
secret-*

# Sublime Text 2 project files
*.sublime-*

# Moe Contest Environment object files
moe/obj/*
moe/run/*

# Front-end dependencies
assets/vendor/*

# Composer dependencies
vendor/*
