# Secret directories for files, testcases, and submissions
files/*
secret-*

# Sublime Text 2 project files
*.sublime-*

# Moe Contest Environment
moe/*

# Front-end dependencies
assets/vendor/*

# Composer dependencies
vendor/*

# .env file
.env

# .idea project files
.idea