[Desktop Entry]
Encoding=UTF-8
GenericName=Advanced Text Editor
GenericName[af]=Gevorderde Teks Redigeerder
GenericName[ar]=محرر النصوص المتقدم
GenericName[az]=Səciyyəvi Mətn Editoru
GenericName[bg]=Текстов редактор
GenericName[bn]=উন্নত টেক্সট সম্পাদক
GenericName[br]=Aozer skrid barek
GenericName[bs]=Napredni editor teksta
GenericName[ca]=Editor de text avançat
GenericName[cs]=Pokročilý textový editor
GenericName[cy]=Golygydd Testun Uwch 
GenericName[da]= Avanceret teksteditor
GenericName[de]=Erweiterter Texteditor
GenericName[el]=Προχωρημένος επεξεργαστής κειμένου
GenericName[eo]=Pli bona Tekstredaktilo
GenericName[es]=Editor de texto avanzado
GenericName[et]=Võimas tekstiredaktor
GenericName[eu]=Testu editore aurreratua
GenericName[fa]=ویرایشگر متن پیشرفته
GenericName[fi]=Kehittynyt tekstieditori
GenericName[fr]=Éditeur de texte avancé
GenericName[fy]=avansearre tekstbewurker
GenericName[ga]=Ardeagarthóir Téacs
GenericName[gl]=Editor Avanzado de Textos
GenericName[he]=עורך טקסט מתקדם
GenericName[hi]=विकसित पाठ संपादक
GenericName[hr]=Napredni uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[is]=Þróaður textaritill
GenericName[it]=Editor di testi avanzato
GenericName[ja]=高度なテキストエディタ
GenericName[km]=កម្មវិធី​វាយ​អត្ថបទ​កម្រិត​ខ្ពស់
GenericName[lt]=Sudėtingesnė teksto rengyklė
GenericName[lv]=Teksta Redaktors
GenericName[mk]=Напреден уредувач на текст
GenericName[mn]=Текст боловсруулагч
GenericName[ms]=Editor Teks Lanjutan
GenericName[mt]=Editur tat-test avvanzat
GenericName[nb]=Avansert skriveprogram
GenericName[nds]=Verwiedert Text-Editor
GenericName[nl]=Geavanceerde teksteditor
GenericName[nn]=Avansert skriveprogram
GenericName[pa]=ਤਕਨੀਕੀ ਪਾਠ ਦਰਸ਼ਕ
GenericName[pl]=Zaawansowany edytor tekstu
GenericName[pt]=Editor de Texto Avançado
GenericName[pt_BR]=Editor de Texto Avançado
GenericName[ro]=Editor avansat de text
GenericName[ru]=Улучшенный текстовый редактор
GenericName[rw]=Muhinduzi Ihanitse y'Umwandiko
GenericName[se]=Erenoamáš čállinprográmma
GenericName[sk]=Pokročilý textový editor
GenericName[sl]=Napredni urejevalnik besedil
GenericName[sr]=Напредни уређивач текста
GenericName[sr@Latn]=Napredni uređivač teksta
GenericName[sv]=Avancerad texteditor
GenericName[ta]=மேம்படுத்த்ப்பட்ட உரை திருத்துபவர்
GenericName[tg]=Муҳаррири матни пешрафта
GenericName[th]=โปรแกรมแก้ไขข้อความแบบขั้นสูง
GenericName[tr]=Gelişmiş Metin Düzenleyici
GenericName[tt]=Yaqşırtılğan Mäten-Tözätkeç
GenericName[uk]=Редактор текстів
GenericName[uz]=Кенгайтирилган матн таҳрирчи
GenericName[vi]=Trình soạn văn bản nâng cao
GenericName[wa]=Aspougneu di tecse avancî
GenericName[zh_CN]=高级文本编辑器
GenericName[zh_TW]=進階文字編輯器
Name=Kate
Name[ar]=كيت
Name[bn]=কেট
Name[eo]=Kodredaktilo
Name[hi]=के-एटीई
Name[ko]=카테
Name[mk]=Кате
Name[pa]=ਕੇਟ
Name[ru]=Редактор Kate
MimeType=text/plain
Exec=kate %U
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=true
Icon=kate
Path=
DocPath=kate/index.html
Type=Application
Terminal=false
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;TextEditor;
