[Desktop Entry]
Categories=X-Debian-Apps-Tools
Comment=Midnight Commander
Comment[en_US]=Midnight Commander
Encoding=UTF-8
Exec=/usr/bin/mc
GenericName=
GenericName[en_US]=
Icon=/usr/share/pixmaps/mc.xpm
MimeType=
Name=Mc
Name[en_US]=Mc
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
