# Default configuration file for Moe
# By default, only the core parts are built, including box and isolate.
# If you wish to build more, enable it below.

# Compile the submit server
#Set("CONFIG_SUBMIT" => 1);

# Build MO-P contest environment
#Set("CONFIG_MOP" => 1);

# If you are running a 64-bit Linux kernel, you need to build a 64-bit
# sandbox and decide whether your userspace is 32- or 64-bit. Both
# variables can be set to "i386", "amd64", or "auto" to auto-detect.
Set("CONFIG_BOX_KERNEL_ARCH" => "auto");
Set("CONFIG_BOX_USER_ARCH" => "auto");

### Hard-coded configuration parameters of the process isolator ###

# A directory under which all sandboxes are created
Set("CONFIG_ISOLATE_BOX_DIR", "/tmp/box");

# Range of UIDs and GIDs reserved for use by the sandboxes
Set("CONFIG_ISOLATE_FIRST_UID", 60000);
Set("CONFIG_ISOLATE_FIRST_GID", 60000);
Set("CONFIG_ISOLATE_NUM_BOXES", 100);

# Root of the cgroup hierarchy
Set("CONFIG_ISOLATE_CGROUP_ROOT", "/sys/fs/cgroup");

### Settings of libucw
UnSet("CONFIG_SHARED");
UnSet("CONFIG_UCW_THREADS");
UnSet("CONFIG_UCW_UTILS");
UnSet("CONFIG_UCW_UTILS");
Set("CONFIG_LOCAL");
Set("CONFIG_DIR", "cf");

# Return success
1;
